
.col-3 {width: 362px; float:left;}
.col-9 {width: 970px; margin: 20px auto;}
.plan {border: 1px solid #d0d0d0; background:#fff; margin: 0 10px 0 0; padding: 23px; max-height: 166px;}
.plan:first-child {margin-bottom: 15px; max-height: 130px;} 
.plan h1 {color: #535353; font-size: 1.7em;}
.plan h2 {color: #36b5ff; font-size: 1.3em; margin-bottom: 5px;}
.plan p {color: #b8b8b8; font-size: 0.9em; margin-bottom: 3px;}
.plan .radio {color: #229eff; font-size: 1.1em;}
.plan img {float: right;}
.sm_form_container {height: 385px;}

/* normal radio check */
.plan{
    input[type=checkbox],
    input[type=radio   ]{
      width     : 2em;
      margin    : 0;
      padding   : 0;
      font-size : 1em;
      opacity   : 0;
    }
    
    input[type=checkbox] + label,
    input[type=radio   ] + label{
      display      : inline-block;
      margin-left  : -2em;
      line-height  : 1.5em;
    }
    
    input[type=checkbox] + label > span,
    input[type=radio   ] + label > span{
      display          : inline-block;
      width            : 0.875em;
      height           : 0.875em;
      margin           : 0.25em 0.5em 0.25em 0.25em;
      border           : 0.0625em solid rgb(192,192,192);
      border-radius    : 0.25em;
      background       : rgb(224,224,224);
      background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
      vertical-align   : bottom;
    }
    
    input[type=checkbox]:checked + label > span,
    input[type=radio   ]:checked + label > span{
      background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
    }
    
    input[type=radio]:checked + label > span:before{
      content     : '✓';
      display     : block;
      width       : 1em;
      color       : rgb(0,157,219);
      font-size   : 0.875em;
      line-height : 1em;
      text-align  : center;
      text-shadow : 0 0 0.0714em rgb(115,153,77);
      font-weight : bold;
    }
}